{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.metatitle }} | Is X Dangerous{% endblock %}

{% block metadata %}

    <link rel="canonical" href="{{ SITEURL }}/{{ article.category }}/{{ article.slug }}">
    <meta name="title" content="{{ article.metatitle }} | Is X Dangerous">
    <meta name="description" content="{{ article.summary|striptags }}">
    <meta name="keywords" content="{{ article.metatitle }}, should i be afraid of {{ article.title }}, {{ article.title }} dangerous or not, {{ article.title }} danger factors, {{ article.title }} danger level">

    <script type="application/ld+json">
      {
        "context": "http://schema.org",
        "@type": "WebPage",
        "name": "{{ article.metatitle }}",
        "keywords": "{{ article.metatitle }}, should i be afraid of {{ article.title }}, {{ article.title }} dangerous or not, {{ article.title }} danger factors, {{ article.title }} danger level",
        "description": "{{ article.summary|striptags }}",
        "url": "{{ SITEURL }}/{{ article.category }}/{{ article.slug }}",
        "about": "{{ article.title }}",
        "image": "{{ SITEURL }}/theme/images/{{ article.image }}",
        "creator": {
          "@type": "Organization",
          "name": "Is X Dangerous",
          "logo": "{{ SITEURL }}/theme/images/isdangerous-logo.png"
          }
        }
    </script>

    <meta name="og:title" content="{{ article.metatitle }} | Is X Dangerous">
    <meta name="og:description" content="{{ article.summary|striptags }}">
    <meta name="og:url" content="https://isxdangerous.com">
    <meta name="og:image" content="{{ SITEURL }}/theme/images/{{ article.image }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.metatitle }} | Is X Dangerous">
    <meta name="twitter:description" content="{{ article.summary|striptags }}">
    <meta name="twitter:site" content="@isxdangerous">
    <meta name="twitter:creator" content="@isxdangerous">
    <meta name="twitter:image" content="{{ SITEURL }}/theme/images/{{ article.image }}">

{% endblock %}
{% block head %}
{{ super() }}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<section class="main">
  <div class="article">
    <div class="hero">
      <h1 class="article-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                  title="Permalink to {{ article.metatitle|striptags }}">{{ article.metatitle }}</a></h1>

      <div class="article-info">
        <div class="category">
          <p>Family // </p>
          <a href="{{ SITEURL }}/{{ article.category }}" class="{{ article.category }} category-label">
            {{ article.category }}
          </a>
        </div>
      </div>
      {% if article.image is defined %}
      <div class="article-image">
        <img src="{{ SITEURL }}/../theme/images/{{ article.image }}">
        <h4 class="caption">{{ article.title }}</h4>
      </div>
      {% endif %}

    </div>
    <div class="entry-content">
      {{ article.content }}
    </div><!-- /.entry-content -->
    <div class="danger-level">
      <h3>Danger Level</h3>
      <!-- TODO: color score on range from red to green -->
      <h4 class="score">{{ article.danger_level }}</h3>
      <!-- TODO: factors as tags -->
      <h3>Factors</h3>
      <h4 class="factors">{{ article.factors }}</h4>
    </div>
    <div class="post-date">
      <p>Danger information current as of:
      <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </time>
      </p>
    </div>

  </div>
  <div class="sidebar">
    <div class="sidebar-nav">
      <h4>/ Explore Dangers /</h4>
      <nav class="menu"><ul>
          {% for cat, null in categories %}
          <li class="{{ cat }} {% if cat == category %}active{% endif %}"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        </ul></nav>
    </div>
    <div class="sidebar-unit">
    </div>
  </div>

</section>

<!--<section class="post-content-unit">
</section> -->

{% include 'related.html' %}
{% endblock %}
