<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% block metadata %}
        {% endblock metadata %}
        {% endblock head %}
</head>

<body>
        <header class="body">
          <h2><a href="{{ SITEURL }}/">Is <span class="rotate">X</span> Dangerous?</a></h2>
          <p>{{ SITESUBTITLE }}</p>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
        {% for cat, null in categories %}
          <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        </ul></nav><!-- /#menu -->
        {% block content %}
        {% endblock content %}
        <footer>
        </footer><!-- /#contentinfo -->
</body>
</html>
