<section class="related">
  <h4>More Possible Dangers</h4>
  <div class="post-list">
    {% for article in articles[:2] %}
    <article class="post-card">
      <div class="post-card-inner">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.metatitle|striptags }}" class="card-link">
          {% if article.image is defined %}
          <div class="post-image {% if article.featured is defined %}hidden{% endif %}">
            <img src="{{ SITEURL }}/theme/images/{{ article.image }}">
          </div>
          {% endif %}
          <div class="post-card-info">
            <h2 class="entry-title">{{ article.title }}</h2>
            </p>
            <div class="post-date">
              <p>Danger information current as of <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
            </div><!-- /.post-info -->
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
          </div>
        </a>
        <div class="category">
          <p>Family // </p>
          <a href="{{ SITEURL }}/category/{{ article.category }}" class="{{ article.category }} category-label">
            {{ article.category }}
          </a>
        </div>
      </div>
      </article>
      {% endfor %}
</section>
